ContentSpark.json
{
  "name": "ContentSpark",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=TOPIC: {{ $('POST').item.json.body.topic }}\nAUDIENCE: {{ $('POST').item.json.body.audience }}\nTONE: {{ $('POST').item.json.body.tone }}\nUSER ID: {{ $('POST').item.json.body.user_id }}\nOUTPUT LANGUAGE: {{ $json.body.language || 'English' }}\n\n---\nTARGET PERSONA PROFILE:\n- Gender/Age: {{ $('POST').item.json.body.persona.gender }} / {{ $('POST').item.json.body.persona.age_range }}\n- Occupation: {{ $('POST').item.json.body.persona.occupation }}\n- Marital/Family Status: {{ $('POST').item.json.body.persona.marital_status }} (Children: {{ $('POST').item.json.body.persona.has_children }})\n- PREFERRED PLATFORMS: {{ $('POST').item.json.body.persona.social_networks }}\n- KEY PAIN POINTS: {{ $('POST').item.json.body.persona.pains_list.join(\", \") }}\n- KEY GOALS: {{ $('POST').item.json.body.persona.goals_list.join(\", \") }}\n- BURNING QUESTIONS: {{ $('POST').item.json.body.persona.questions_list.join(\", \") }}",
        "options": {
          "systemMessage": "=You are a world-class Social Media Strategist and Content Director. Your goal is to generate high-value, viral-worthy content ideas that are hyper-targeted to a specific user persona.\n\n### INPUTS:\nYou will receive the following variables:\n1. Niche/Topic\n2. Target Audience (General)\n3. Desired Tone\n4. User Id\n5. TARGET PERSONA CONTEXT (Demographics, Pain Points, Goals, etc.)\n\n\n### STRATEGY INSTRUCTIONS (DYNAMIC LISTS):\nYou have been provided with lists of specific Pains, Goals, and Questions.\n**Do NOT try to address everything at once.**\n\nFor each of the 6 content ideas, pick **ONE specific item** from the lists to focus on:\n1.  **Idea 1:** Pick a specific **Pain Point** (e.g., \"{{ $json.body.persona.pains_list[0] }}\") and solve it.\n2.  **Idea 2:** Answer a specific **Burning Question** (e.g., \"{{ $json.body.persona.questions_list[0] }}\").\n3.  **Idea 3:** Focus on a specific **Goal** (e.g., \"{{ $json.body.persona.goals_list[0] }}\").\n4.  **Idea 4-6:** Mix and match remaining items.\n5.  **Demographics:** Adjust the language complexity and cultural references to match their Age and Occupation.\n\n### OUTPUT INSTRUCTIONS:\nGenerate exactly 6 distinct content ideas.\nDo not provide generic advice. Provide specific, actionable frameworks (e.g., \"A 'VS' Reel comparing X and Y\").\n\n### LANGUAGE INSTRUCTIONS:\nThe user has requested the content in: \"{{ $json.body.language }}\".\n\n1. **Content Translation:** You MUST write all generated text (Titles, Descriptions, Hooks, Captions, CTAs) in the requested language.\n   - If Language is 'pt', write in native, natural Brazilian Portuguese.\n   - If Language is 'en', write in native American English.\n\n2. **JSON Structure Protection (CRITICAL):**\n   - Do NOT translate the JSON Keys.\n   - CORRECT: { \"title\": \"O Guia Definitivo\" }\n   - INCORRECT: { \"titulo\": \"O Guia Definitivo\" }\n   - The keys \"title\", \"description\", \"hook\", \"caption\", \"cta\", \"hashtags\", \"platform_suggestion\", \"user_id\" MUST remain in English.\n\n3. **Hashtags:**\n   - Use hashtags relevant to that language (e.g., use #marketingdigital instead of #digitalmarketing if the language is Portuguese).\n\n### RESPONSE FORMAT:\nYou must return ONLY a raw JSON array of objects.\n1. Output ONLY the raw JSON array.\n2. Do NOT use Markdown code blocks (do not use ```json or ```).\n3. Do NOT add any text before or after the array.\n4. Ensure the JSON is valid and parsable.\n5. Do NOT use quotation marks or backslashes INSIDE the text fields. If you need to emphasize a word, use single quotes (e.g., 'word') instead of double quotes.\n\nEach object in the array must follow this exact structure:\n[{\n  \"title\": \"The Post Headline or Title\",\n  \"description\": \"A brief explanation of the concept/angle (for the user to understand the idea).\",\n  \"hook\": \"The first sentence/hook of the post (use single quotes)\",\n  \"caption\": \"The full first draft of the post body/caption. Write this in the user's requested Tone. Keep it engaging.\",\n  \"cta\": \"A specific Call to Action (e.g., 'Save this post', 'Comment X below').\",\n  \"hashtags\": \"List of 10 relevant, high-traffic hashtags separated by spaces (e.g. #marketing #growth).\",\n  \"platform_suggestion\": \"The best platform\",\n  \"user_id\": \"THE_EXACT_USER_ID_PROVIDED_IN_INPUT\"\n}]\n\nIMPORTANT: For the 'user_id' field, you must simply copy and paste the User ID value I provided in the input variables. Do not generate a fake ID. Use the exact string I sent."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -672,
        -144
      ],
      "id": "3ef34ab9-959b-4d8c-93eb-5196a1180789",
      "name": "AI Agent",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -656,
        48
      ],
      "id": "aead6301-1054-45b9-a1eb-80908cfa732e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "1ah3iSTgISqRviYO",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Get the raw text\nconst aiText = items[0].json.output || items[0].json.response || \"\";\n\nconst results = [];\n\n// Split by \"title\": since every object starts with it\n// (slice(1) removes the empty string before the first title)\nconst chunks = aiText.split(/\"title\":/i).slice(1);\n\nfor (const chunk of chunks) {\n    try {\n        // --- EXTRACTION REGEX ---\n        // We look for the content between specific keys\n\n        // 1. Description\n        const descMatch = chunk.match(/\"description\":\\s*\"?([\\s\\S]*?)\"?,\\s*\"hook\"/i);\n        // 2. Hook\n        const hookMatch = chunk.match(/\"hook\":\\s*\"?([\\s\\S]*?)\"?,\\s*\"caption\"/i);\n        // 3. Caption\n        const captionMatch = chunk.match(/\"caption\":\\s*\"?([\\s\\S]*?)\"?,\\s*\"cta\"/i);\n        // 4. CTA\n        const ctaMatch = chunk.match(/\"cta\":\\s*\"?([\\s\\S]*?)\"?,\\s*\"hashtags\"/i);\n        // 5. Hashtags\n        const tagsMatch = chunk.match(/\"hashtags\":\\s*\"?([\\s\\S]*?)\"?,\\s*\"platform_suggestion\"/i);\n        // 6. Platform\n        // Updated regex to stop at \"user_id\"\n        const platformMatch = chunk.match(/\"platform_suggestion\":\\s*\"?([\\s\\S]*?)\"?,\\s*\"user_id\"/i);\n        \n        // 7. User ID (MOVED INSIDE THE LOOP)\n        // We look for \"user_id\": \"VALUE\" } at the end of the chunk\n        const userIdMatch = chunk.match(/\"user_id\":\\s*\"?([\\s\\S]*?)\"?\\s*}/i);\n        \n        // Title Cleanup\n        let titleRaw = chunk.split(/\"description\"/)[0];\n        const titleClean = titleRaw.replace(/^[\\s\"]+|[\\s\",]+$/g, \"\").trim();\n\n        results.push({\n            title: titleClean,\n            description: descMatch ? descMatch[1].trim() : \"\",\n            hook: hookMatch ? hookMatch[1].trim() : \"\",\n            caption: captionMatch ? captionMatch[1].trim() : \"\",\n            cta: ctaMatch ? ctaMatch[1].trim() : \"\",\n            hashtags: tagsMatch ? tagsMatch[1].trim() : \"\",\n            platform_suggestion: platformMatch ? platformMatch[1].trim() : \"Instagram\",\n            \n            // FIX: Check if match exists, then grab index [1] (the capture group)\n            user_id: userIdMatch ? userIdMatch[1].trim() : \"\" \n        });\n    } catch (err) {\n        // Skip bad chunks\n    }\n}\n\nreturn results.map(item => ({ json: item }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -336,
        -144
      ],
      "id": "3e6cdaef-a3cb-4261-ab59-b6e461e5bac8",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "tableId": "content_ideas",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "title",
              "fieldValue": "={{ $json.title }}"
            },
            {
              "fieldId": "description",
              "fieldValue": "={{ $json.description }}"
            },
            {
              "fieldId": "hook",
              "fieldValue": "={{ $json.hook }}"
            },
            {
              "fieldId": "platform_suggestion",
              "fieldValue": "={{ $json.platform_suggestion }}"
            },
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $json.user_id }}"
            },
            {
              "fieldId": "cta",
              "fieldValue": "={{ $json.cta }}"
            },
            {
              "fieldId": "caption",
              "fieldValue": "={{ $json.caption }}"
            },
            {
              "fieldId": "hashtags",
              "fieldValue": "={{ $json.hashtags }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -128,
        -144
      ],
      "id": "edc12956-f39f-4ab2-9793-a85889980efa",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "dE0cZo2PA3JL8OXB",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "content_ideas",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.body.id }})"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "scheduled_at",
              "fieldValue": "={{ $json.body.time }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.body.status }}"
            },
            {
              "fieldId": "title",
              "fieldValue": "={{ $json.body.title }}"
            },
            {
              "fieldId": "description",
              "fieldValue": "={{ $json.body.description }}"
            },
            {
              "fieldId": "platform_suggestion",
              "fieldValue": "={{ $json.body.platform }}"
            },
            {
              "fieldId": "caption",
              "fieldValue": "={{ $json.caption }}"
            },
            {
              "fieldId": "cta",
              "fieldValue": "={{ $json.cta }}"
            },
            {
              "fieldId": "hashtags",
              "fieldValue": "={{ $json.hashtags }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -608,
        832
      ],
      "id": "4c037f8a-27b1-455c-8863-d58cef673df8",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "dE0cZo2PA3JL8OXB",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": \"true\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -416,
        832
      ],
      "id": "4b56cdde-a010-4ce1-9dab-efc29e1c8282",
      "name": "PATCH Webhook"
    },
    {
      "parameters": {
        "httpMethod": "PATCH",
        "path": "update-card",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -816,
        832
      ],
      "id": "94e3f43d-6e34-4d36-8400-a15638e2ac26",
      "name": "PATCH",
      "webhookId": "0c17f276-a25c-4a15-845d-5319d4724880"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f7465ddb-c12a-4f30-9917-7720c62876bc",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1424,
        -128
      ],
      "id": "6e01932d-819a-4fa3-b567-a8e67c9dde93",
      "name": "POST",
      "webhookId": "f7465ddb-c12a-4f30-9917-7720c62876bc"
    },
    {
      "parameters": {
        "content": "## POST WEBHOOK",
        "height": 416,
        "width": 2112,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1520,
        -208
      ],
      "typeVersion": 1,
      "id": "e9219933-56ba-4ea9-82a8-407d56e24bfa",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "content_ideas",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $json.query.user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -608,
        1120
      ],
      "id": "a7a89f28-c140-4a7a-b179-0443a3e91f59",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "dE0cZo2PA3JL8OXB",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -400,
        1120
      ],
      "id": "c33caee9-4693-43a3-b7b0-6d990e66cc6a",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "content": "## PATCH WEBHOOK",
        "height": 240,
        "width": 816,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -928,
        768
      ],
      "typeVersion": 1,
      "id": "58b4c327-ce3c-4a68-ad5f-f95ed41713f6",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## GET WEBHOOK",
        "height": 240,
        "width": 816,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -928,
        1056
      ],
      "typeVersion": 1,
      "id": "7b427f98-f8c6-44ca-81a9-05bdbff32fb1",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "path": "get-user-ideas",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -816,
        1120
      ],
      "id": "456f74ca-690c-49c6-9db4-0e98216f084b",
      "name": "GET",
      "webhookId": "546ff7b5-a1a0-4a5e-8c2c-ad1194bf652a"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "content_ideas",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.body.id }})"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -624,
        1408
      ],
      "id": "adef3962-41a8-4d15-b333-8df81cce7c21",
      "name": "Delete a row",
      "credentials": {
        "supabaseApi": {
          "id": "dE0cZo2PA3JL8OXB",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -416,
        1408
      ],
      "id": "672cf35a-793a-4db2-a624-a33a98b0482d",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "content": "##DELETE WEBHOOK",
        "height": 256,
        "width": 816,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -928,
        1328
      ],
      "typeVersion": 1,
      "id": "d8b0654d-58c7-4189-9e89-9ac901d3c154",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b0f155d5-4997-44ba-bd30-529f52aa9ebc",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        64,
        -128
      ],
      "id": "ada5f2c5-5aba-4e71-8546-40a94759b191",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"error\": true,\n  \"message\": \"The AI is currently overwhelmed or the database is busy. Please try again in 10 seconds.\"\n}",
        "options": {
          "responseCode": 500
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        368,
        0
      ],
      "id": "f7716b8c-fa29-4a60-add6-ab9db7c4fa14",
      "name": "Failed"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        368,
        -160
      ],
      "id": "1b2cd36f-ec79-42b3-ae6d-25d5fdde5698",
      "name": "Success"
    },
    {
      "parameters": {
        "tableId": "personas",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $json.body.user_id}}"
            },
            {
              "fieldId": "gender",
              "fieldValue": "={{ $json.body.gender}}"
            },
            {
              "fieldId": "age_range",
              "fieldValue": "={{ $json.body.age_range}}"
            },
            {
              "fieldId": "occupation",
              "fieldValue": "={{ $json.body.occupation}}"
            },
            {
              "fieldId": "education",
              "fieldValue": "={{ $json.body.education}}"
            },
            {
              "fieldId": "marital_status",
              "fieldValue": "={{ $json.body.marital_status}}"
            },
            {
              "fieldId": "has_children",
              "fieldValue": "={{ $json.body.has_children}}"
            },
            {
              "fieldId": "social_networks",
              "fieldValue": "={{ $json.body.social_networks}}"
            },
            {
              "fieldId": "pains_list",
              "fieldValue": "={{ $json.body.pains_list}}"
            },
            {
              "fieldId": "goals_list",
              "fieldValue": "={{ $json.body.goals_list}}"
            },
            {
              "fieldId": "questions_list",
              "fieldValue": "={{ $json.body.questions_list}}"
            },
            {
              "fieldId": "name",
              "fieldValue": "={{ $json.body.name}}"
            },
            {
              "fieldId": "income_level",
              "fieldValue": "={{ $json.body.income_level}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -624,
        1728
      ],
      "id": "372ace33-829c-42f1-91b3-37332bc1a42b",
      "name": "Create Persona",
      "credentials": {
        "supabaseApi": {
          "id": "dE0cZo2PA3JL8OXB",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -416,
        1728
      ],
      "id": "8b1d1aba-531f-41da-af8e-a2aa16132b0f",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "DELETE",
        "path": "delete-user-ideas",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -832,
        1408
      ],
      "id": "005b463d-6d40-420d-b107-e78736bf138a",
      "name": "DELETE",
      "webhookId": "f8ec5079-ee99-40c8-9390-c7c97d3a912c"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/save-persona",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -832,
        1728
      ],
      "id": "fe6e40c9-d10c-4308-8c59-d04c4dfc23e1",
      "name": "POST1",
      "webhookId": "8b6bb04a-2ce7-4a94-b2d9-fb9d018bbc59"
    },
    {
      "parameters": {
        "path": "/get-persona",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -832,
        1920
      ],
      "id": "5700f86a-f246-494a-9a88-7a7f4e6f1ddf",
      "name": "GET PERSONA",
      "webhookId": "cb6614d6-6e93-49cb-9be1-48889c13b36d"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "personas",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "keyValue": "={{ $json.query.user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -624,
        1920
      ],
      "id": "d820e6f7-d8aa-4b29-8870-bf738476f35b",
      "name": "Get a row",
      "credentials": {
        "supabaseApi": {
          "id": "dE0cZo2PA3JL8OXB",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -416,
        1920
      ],
      "id": "65cf29e1-0fac-48b6-a392-6ecb0d4bb413",
      "name": "Respond to Webhook3"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "personas",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $('PATCH Persona').item.json.body.user_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('PATCH Persona').item.json.body.user_id}}"
            },
            {
              "fieldId": "gender",
              "fieldValue": "={{ $('PATCH Persona').item.json.body.gender}}"
            },
            {
              "fieldId": "age_range",
              "fieldValue": "={{ $('PATCH Persona').item.json.body.age_range}}"
            },
            {
              "fieldId": "occupation",
              "fieldValue": "={{ $('PATCH Persona').item.json.body.occupation}}"
            },
            {
              "fieldId": "education",
              "fieldValue": "={{ $('PATCH Persona').item.json.body.education}}"
            },
            {
              "fieldId": "marital_status",
              "fieldValue": "={{ $('PATCH Persona').item.json.body.marital_status}}"
            },
            {
              "fieldId": "has_children",
              "fieldValue": "={{ $('PATCH Persona').item.json.body.has_children}}"
            },
            {
              "fieldId": "social_networks",
              "fieldValue": "={{ $('PATCH Persona').item.json.body.social_networks}}"
            },
            {
              "fieldId": "pains_list",
              "fieldValue": "={{ $('PATCH Persona').item.json.body.pains_list}}"
            },
            {
              "fieldId": "goals_list",
              "fieldValue": "={{ $('PATCH Persona').item.json.body.goals_list}}"
            },
            {
              "fieldId": "questions_list",
              "fieldValue": "={{ $('PATCH Persona').item.json.body.questions_list}}"
            },
            {
              "fieldId": "income_level",
              "fieldValue": "={{ $('PATCH Persona').item.json.body.income_level}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -224,
        2096
      ],
      "id": "649aa064-2df7-4982-b44a-ca492382a4e4",
      "name": "Update Persona",
      "credentials": {
        "supabaseApi": {
          "id": "dE0cZo2PA3JL8OXB",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -32,
        2096
      ],
      "id": "bb4dff09-b55f-4c23-88d1-fe7f20164b68",
      "name": "Respond to Webhook4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://tciqwxkdukfbflhiziql.supabase.co/rest/v1/rpc/deduct_credit",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"target_user_id\": \"{{ $json.body.user_id }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1216,
        -128
      ],
      "id": "cecfd50b-afec-47fe-b12f-7a57f7630cb7",
      "name": "Check Credit",
      "credentials": {
        "supabaseApi": {
          "id": "dE0cZo2PA3JL8OXB",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "08012b29-3915-4d2f-825d-c7deb3a2addf",
              "leftValue": "={{ $json.success }}",
              "rightValue": "=true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1024,
        -128
      ],
      "id": "540a72bb-3b53-4141-a2a6-f5b26e5c2d4a",
      "name": "If1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"error\": true, \"message\": \"Out of credits. Please upgrade.\" }",
        "options": {
          "responseCode": 402
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -848,
        32
      ],
      "id": "ede5cd57-a0cc-4405-88a1-e05a42531dc1",
      "name": "No Credits"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "create-idea",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -848,
        352
      ],
      "id": "6f40f7d1-ccaa-4afd-b89a-1c9d7d93dc8d",
      "name": "POST Manual",
      "webhookId": "38f91984-6a85-4931-844d-46e64aa6f9f8"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b0f155d5-4997-44ba-bd30-529f52aa9ebc",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -432,
        352
      ],
      "id": "34ca13cd-6fa4-4718-b6e2-75a50149992c",
      "name": "If2"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"error\": true,\n  \"message\": \"The AI is currently overwhelmed or the database is busy. Please try again in 10 seconds.\"\n}",
        "options": {
          "responseCode": 500
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -128,
        480
      ],
      "id": "afaa5e01-af0e-49f9-8133-05a9b546d377",
      "name": "Failed1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Idea created successfully\",\n  \"data\": {{ $json }} \n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -128,
        320
      ],
      "id": "40dfc5b3-8540-40fc-acf0-b912f5bdb8bb",
      "name": "Success1"
    },
    {
      "parameters": {
        "tableId": "content_ideas",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "title",
              "fieldValue": "={{ $json.body.title }}"
            },
            {
              "fieldId": "description",
              "fieldValue": "={{ $json.body.description }}"
            },
            {
              "fieldId": "hook",
              "fieldValue": "={{ $json.body.hook }}"
            },
            {
              "fieldId": "platform_suggestion",
              "fieldValue": "={{ $json.body.platform_suggestion }}"
            },
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $json.body.user_id }}"
            },
            {
              "fieldId": "cta",
              "fieldValue": "={{ $json.body.cta }}"
            },
            {
              "fieldId": "caption",
              "fieldValue": "={{ $json.body.caption }}"
            },
            {
              "fieldId": "hashtags",
              "fieldValue": "={{ $json.body.hashtags }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -640,
        352
      ],
      "id": "27aa3119-c6eb-452a-89cd-c0faf46ff154",
      "name": "Manual Create",
      "credentials": {
        "supabaseApi": {
          "id": "dE0cZo2PA3JL8OXB",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "complete-onboarding",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        240,
        832
      ],
      "id": "8d1cd27a-101f-4975-bbf7-c9fdbbb72c74",
      "name": "PATCH Onboarding",
      "webhookId": "6f4c65c4-d3e9-47d7-b988-ef8d5e72251b"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        688,
        832
      ],
      "id": "97ce70a5-f4d9-4391-a522-fec8daa627f3",
      "name": "Respond to Webhook5"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "profiles",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $json.body.user_id}}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "has_completed_onboarding",
              "fieldValue": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        464,
        832
      ],
      "id": "eaa1250e-c925-4c7c-a7e5-4d28fff02fc5",
      "name": "Update Onboarding",
      "credentials": {
        "supabaseApi": {
          "id": "dE0cZo2PA3JL8OXB",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "## PROFILE",
        "height": 464,
        "width": 816,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        144,
        768
      ],
      "typeVersion": 1,
      "id": "6e8703f4-dc2e-41a7-9078-90b0f854e894",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## PERSONA",
        "height": 800,
        "width": 1184
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -928,
        1680
      ],
      "typeVersion": 1,
      "id": "0d262ea0-2c6b-419e-a92b-e55c2df545c8",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## MANUAL POSTING",
        "height": 352,
        "width": 1008,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -928,
        272
      ],
      "typeVersion": 1,
      "id": "936ee3cd-8050-4420-8e60-17f21f7b817a",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "get-profile",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        240,
        1056
      ],
      "id": "ddc77b87-9675-4f77-91aa-bafe06fd51e5",
      "name": "GET Profile",
      "webhookId": "1f1489de-efbd-42cc-986f-e27dfb51d00c"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "profiles",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.body.user_id}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        464,
        1056
      ],
      "id": "913b6a13-c84f-41b4-a57b-f22d3dab920e",
      "name": "Get Profile",
      "credentials": {
        "supabaseApi": {
          "id": "dE0cZo2PA3JL8OXB",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        688,
        1056
      ],
      "id": "d67df1cf-1cb0-4cc0-944a-922a85d8d4e5",
      "name": "Respond to Webhook6"
    },
    {
      "parameters": {
        "httpMethod": "PATCH",
        "path": "update-persona",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -832,
        2144
      ],
      "id": "17a9c13f-29a7-43e6-9cff-1f0425e4217b",
      "name": "PATCH Persona",
      "webhookId": "66ddbe36-d50e-4a03-8cd1-5907c99a0bf9"
    },
    {
      "parameters": {
        "url": "https://tciqwxkdukfbflhiziql.supabase.co/auth/v1/user",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer eyJhbGciOiJIUzI1NiIsImtpZCI6ImZJZzltbGVNSi9wV0plUXAiLCJ0eXAiOiJKV1QifQ.eyJpc3MiOiJodHRwczovL3RjaXF3eGtkdWtmYmZsaGl6aXFsLnN1cGFiYXNlLmNvL2F1dGgvdjEiLCJzdWIiOiI5OWM2NzZmZC0zYzY2LTRiMjYtYTllMy1hMGM0MWMyNzFjYTQiLCJhdWQiOiJhdXRoZW50aWNhdGVkIiwiZXhwIjoxNzY1NTY0MjMzLCJpYXQiOjE3NjU1NjA2MzMsImVtYWlsIjoiYmxiYWNlbGFyQGdtYWlsLmNvbSIsInBob25lIjoiIiwiYXBwX21ldGFkYXRhIjp7InByb3ZpZGVyIjoiZW1haWwiLCJwcm92aWRlcnMiOlsiZW1haWwiXX0sInVzZXJfbWV0YWRhdGEiOnsiZW1haWwiOiJibGJhY2VsYXJAZ21haWwuY29tIiwiZW1haWxfdmVyaWZpZWQiOnRydWUsInBob25lX3ZlcmlmaWVkIjpmYWxzZSwic3ViIjoiOTljNjc2ZmQtM2M2Ni00YjI2LWE5ZTMtYTBjNDFjMjcxY2E0In0sInJvbGUiOiJhdXRoZW50aWNhdGVkIiwiYWFsIjoiYWFsMSIsImFtciI6W3sibWV0aG9kIjoicGFzc3dvcmQiLCJ0aW1lc3RhbXAiOjE3NjU1NTY2NDB9XSwic2Vzc2lvbl9pZCI6IjVmMzM1MDk0LTUxOWEtNDRhNS05YzU1LTFmMzlhNWJmZjE1MyIsImlzX2Fub255bW91cyI6ZmFsc2V9.Ld-0b1D7dkGvVph7mJeAsDUBtc0C3GFILDPxM1B6AHY"
            },
            {
              "name": "apikey",
              "value": "sb_publishable_kp4l5uKw4iMU7FnGE9ibIQ_JF2CwYbN"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -640,
        2144
      ],
      "id": "77569945-aaa9-48cb-a0fd-c187d361d576",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c42f33d4-1fe4-49f9-b6ef-1423fc1de85d",
              "leftValue": "={{ $json.identities }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -464,
        2144
      ],
      "id": "2450b25c-8e63-4fe7-b9e4-f1112e5b063e",
      "name": "If3"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"error\": true,\n  \"status\": 403,\n  \"message\": \"Unauthorized: Invalid or missing authentication token.\",\n  \"code\": \"AUTH_FAILED\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -224,
        2320
      ],
      "id": "8bc07435-0db8-4a07-8b95-8dd1d1369ce2",
      "name": "Respond to Webhook7"
    }
  ],
  "pinData": {
    "PATCH Persona": [
      {
        "json": {
          "headers": {
            "host": "n8n.bacelardigital.tech",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36",
            "content-length": "437",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9",
            "authorization": "Bearer eyJhbGciOiJIUzI1NiIsImtpZCI6ImZJZzltbGVNSi9wV0plUXAiLCJ0eXAiOiJKV1QifQ.eyJpc3MiOiJodHRwczovL3RjaXF3eGtkdWtmYmZsaGl6aXFsLnN1cGFiYXNlLmNvL2F1dGgvdjEiLCJzdWIiOiI5OWM2NzZmZC0zYzY2LTRiMjYtYTllMy1hMGM0MWMyNzFjYTQiLCJhdWQiOiJhdXRoZW50aWNhdGVkIiwiZXhwIjoxNzY1NTY0MjMzLCJpYXQiOjE3NjU1NjA2MzMsImVtYWlsIjoiYmxiYWNlbGFyQGdtYWlsLmNvbSIsInBob25lIjoiIiwiYXBwX21ldGFkYXRhIjp7InByb3ZpZGVyIjoiZW1haWwiLCJwcm92aWRlcnMiOlsiZW1haWwiXX0sInVzZXJfbWV0YWRhdGEiOnsiZW1haWwiOiJibGJhY2VsYXJAZ21haWwuY29tIiwiZW1haWxfdmVyaWZpZWQiOnRydWUsInBob25lX3ZlcmlmaWVkIjpmYWxzZSwic3ViIjoiOTljNjc2ZmQtM2M2Ni00YjI2LWE5ZTMtYTBjNDFjMjcxY2E0In0sInJvbGUiOiJhdXRoZW50aWNhdGVkIiwiYWFsIjoiYWFsMSIsImFtciI6W3sibWV0aG9kIjoicGFzc3dvcmQiLCJ0aW1lc3RhbXAiOjE3NjU1NTY2NDB9XSwic2Vzc2lvbl9pZCI6IjVmMzM1MDk0LTUxOWEtNDRhNS05YzU1LTFmMzlhNWJmZjE1MyIsImlzX2Fub255bW91cyI6ZmFsc2V9.Ld-0b1D7dkGvVph7mJeAsDUBtc0C3GFILDPxM1B6AHY",
            "content-type": "application/json",
            "origin": "http://localhost:3001",
            "priority": "u=1, i",
            "referer": "http://localhost:3001/",
            "sec-ch-ua": "\"Google Chrome\";v=\"143\", \"Chromium\";v=\"143\", \"Not A(Brand\";v=\"24\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "198.53.130.58",
            "x-forwarded-host": "n8n.bacelardigital.tech",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "a7a8386374f5",
            "x-real-ip": "198.53.130.58"
          },
          "params": {},
          "query": {},
          "body": {
            "name": "Teste",
            "gender": "Male",
            "age_range": "25-34",
            "occupation": "Marketing",
            "education": "Master's",
            "marital_status": "Married",
            "has_children": true,
            "income_level": "Middle",
            "social_networks": "Instagram,TikTok,LinkedIn",
            "pains_list": [
              "How can I monetize my knowledge?"
            ],
            "goals_list": [
              "Buy my house"
            ],
            "questions_list": [
              "How to make money online?"
            ],
            "id": "d7a14abd-26ca-489c-b87b-6bb5521ab611",
            "user_id": "99c676fd-3c66-4b26-a9e3-a0c41c271ca4"
          },
          "webhookUrl": "https://n8n.bacelardigital.tech/webhook/update-persona",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row": {
      "main": [
        [
          {
            "node": "PATCH Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PATCH": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST": {
      "main": [
        [
          {
            "node": "Check Credit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a row": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success": {
      "main": [
        []
      ]
    },
    "Create Persona": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DELETE": {
      "main": [
        [
          {
            "node": "Delete a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST1": {
      "main": [
        [
          {
            "node": "Create Persona",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET PERSONA": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Persona": {
      "main": [
        [
          {
            "node": "Respond to Webhook4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Credit": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Credits",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Manual": {
      "main": [
        [
          {
            "node": "Manual Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Success1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Failed1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Create": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PATCH Onboarding": {
      "main": [
        [
          {
            "node": "Update Onboarding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Onboarding": {
      "main": [
        [
          {
            "node": "Respond to Webhook5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Profile": {
      "main": [
        [
          {
            "node": "Get Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Profile": {
      "main": [
        [
          {
            "node": "Respond to Webhook6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PATCH Persona": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Update Persona",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "65a70d83-95ce-4e21-a7b1-4dd9d4ce63ee",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b9ec77acaa8460b052222b9fec6cee8fb6e12a11641989419183ce0e2a680f6a"
  },
  "id": "BczYPV1XKzPj1GfD",
  "tags": []
}